# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/dist

# environment variables
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Vite
.vite/