@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar hide for demonstration */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}